@font-face {
    font-family: "Zalando_Sans";
    src: url(fonts/ZalandoSans-VariableFont_wdth\,wght.ttf);
    font-weight: normal;
}

@font-face {
    font-family: "Orbitron";
    src: url(fonts/Orbitron-VariableFont_wght.ttf);
    font-weight: normal;
}

@font-face {
    font-family: "ZenTokyoZoo";
    src:url(fonts/ZenTokyoZoo-Regular.ttf);
}

body {
    background-color: black;
    font-family: Zalando_Sans;
    color: white;
}

.navbar {
    display: flex;
    margin: 0;
    align-items: top;
    border-bottom: 1px solid gray;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: black;
    margin-bottom: 40px;
}

.navbar ul li {
    float: left;
    margin-right: 100px;
    list-style-type: none;
}

.navbar li div {
    padding: 10px 10px;
    font-size: 18px;
}

.navbar li div a {
    text-decoration: none;
    color: white;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 10px;
    font-size: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #888888;
    z-index: 1;
}

.dropdown-content a {
    display: block;
    padding: 15px 5px;
    color: white;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: aqua;
    left: 50%;
    top: 3px;
    transition: all 0.3s ease-in-out;
}

.dropdown:hover .dropbtn::before {
    width: 80%;
    left: 10%;
}

.dropdown:hover .dropbtn {
    color: lightgray;
}

.dropdown-content a:hover {
    color: aqua;
}

.dropbtn a:hover {
    color: lightgray;
}

.main-container {
    width: 85vw;
    height: 200vh;
    display: block;
    margin: 0 auto;
    margin-bottom: 20vh;
}

.header {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 40px;
}

.header h1 {
    margin: 0;
    padding-right: 3%;
    padding-left: 0;
    font-size: 45px;
    border-right: 1px solid gray
}

.header p {
    margin: 0;
    padding: 1% 3%;
    font-size: 20px;
}

.item-container {
    display: block;
    width: 70%;
    height: 100%;
}

.item {
    display: flex;
    width: 100%;
    height: 16%;
    margin-bottom: 40px;
}

.item a.image-link {
    display: block;
    width: 50%;
    margin-right: 30px;
}

.item-headlines {
    width: 50%;
    padding: 20px;
}

.item a.text-link {
    display: block;
    width: 100%;
    text-decoration: none;
    color: white;
    font-size: 30px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-weight: bold;
}

.news-header {
    margin-top: 10px;
    font-size: 18px;
    color: white;
}

.name {
    color: #3d90d7;
}

.item a.text-link:hover {
    text-decoration: underline 1.5px aqua;
}

.item .image-container {
    width: 400px;
    height: 100%;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

footer {
    background-color: black;
    width: 100vw;
    height: 20vh;
    border-top: 1px solid gray;
    display: flex;
    align-items: center;
}

footer .logo {
    display: block;
    margin: 0 5%;
}

footer p {
    padding: 0;
    margin: 0;
}

footer h1 {
    color: #00b3b3;
    font-family: Orbitron;
    font-size: 40px;
    margin-right: 5%;
}

footer .navlink-bar {
    display: flex;
    width: 20%;
}

footer .navlink {
    border: solid 1px gray;
    border-radius: 8px;
    padding: 3%;
    margin-right: 8%;
}

footer .navlink a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

footer a:hover {
    color: #00b3b3;
}

.sm-icons {
    width: 15%;
    display: flex;
    justify-content: space-between;
}

.sm-icons a {
    color: white;
    font-size: 35px;
}







